<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <div class="listContainer">
      <h1>Lista de empleados</h1>

      <table class="employeeTable">
        <thead>
          <tr>
            <th *ngFor="let column of columns" [attr.key]="column.key">
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let index = index">
            <td>{{ employee.dni }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td class="employeeTableActions">
              <button
                (click)="openEditModal(employee.id!)"
                class="employeeEditBtn"
              >
                Editar
              </button>
              <button
                (click)="openDeleteModal(employee.id!)"
                class="employeeDeleteBtn"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="employeeAddBtn" (click)="openModal()">
        Agregar Nuevo Empleado
      </button>

      <div
        id="modalAddEmployee"
        class="modal"
        [ngStyle]="{ display: isModalAddEmployeeOpen ? 'flex' : 'none' }"
      >
        <div id="modalContent">
          <h2>Agregar Nuevo Empleado</h2>
          <app-employee-form
            [dni]="dni"
            [age]="age"
            [name]="name"
            [position]="position"
            (handleDNIChange)="handleDNIChange($event)"
            (handleAgeChange)="handleAgeChange($event)"
            (handleAgeKeyDown)="handleAgeKeyDown($event)"
            (handleNameChange)="handleNameChange($event)"
            (handlePositionChange)="handlePositionChange($event)"
            (submitForm)="addEmployee()"
            (closeModal)="closeModal()"
          ></app-employee-form>
        </div>
      </div>

      <div
        id="modalEditEmployee"
        class="modal"
        [ngStyle]="{ display: isModalEditEmployeeOpen ? 'flex' : 'none' }"
      >
        <div id="modalContent">
          <h2>Editar Empleado</h2>
          <app-employee-form
            [dni]="dni"
            [age]="age"
            [name]="name"
            [position]="position"
            (handleDNIChange)="handleDNIChange($event)"
            (handleAgeChange)="handleAgeChange($event)"
            (handleAgeKeyDown)="handleAgeKeyDown($event)"
            (handleNameChange)="handleNameChange($event)"
            (handlePositionChange)="handlePositionChange($event)"
            (submitForm)="editEmployee()"
            (closeModal)="closeModal()"
          ></app-employee-form>
        </div>
      </div>

      <div
        id="modalDeleteEmployee"
        class="modal"
        [ngStyle]="{ display: isModalDeleteEmployeeOpen ? 'flex' : 'none' }"
      >
        <div id="modalContent">
          <h2>Desea eliminar a {{ name }}</h2>
          <div class="employeeTableActions">
            <button class="cancelModalBtn" (click)="closeModal()">
              Cancelar
            </button>
            <button class="closeModalBtn" (click)="deleteEmployee()">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
